@use '../../../node_modules/azure-devops-ui/Core/_platformCommon.scss';
@use '../../core/common/scrollbar.scss';

.wit-hierarchy-card {
  width: 350px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.6px 1px 0 var(--callout-shadow-secondary-color, rgba(0, 0, 0, 0.108)),
    0 4.2px 7px 0 var(--callout-shadow-color, rgba(0, 0, 0, 0.132));
  padding: 0;
  background-color: platformCommon.$backgroundColor;
}

.wit-hierarchy-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.wit-hierarchy-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wit-hierarchy-header-title {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

.wit-hierarchy-close-btn {
  margin-left: 8px;
}

.wit-hierarchy-description {
  padding: 0 16px;
  font-size: small;
  text-wrap: balance;
}

.wit-hierarchy-body {
  padding: 16px;
  overflow-y: auto;
  flex-grow: 1;
  @extend .custom-scrollbar-modal;
}
