@use '../../../node_modules/azure-devops-ui/Core/_platformCommon.scss';
@use './icons.scss';
@import 'azure-devops-ui/Core/override.css';

#root {
  width: 100%;
  height: 100%;
  padding: 0.3rem;

  .wit-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    user-select: none;
  }

  .no-gap {
    gap: 0;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .icon-only.subtle {
    padding: 5px;
  }

  .transparent {
    background-color: transparent;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}
