@use '../../../node_modules/azure-devops-ui/Core/_platformCommon.scss';
@use './settingsCommon.scss';

.settings-resizable-textfield {
  resize: vertical;
  min-height: 80px;
  @extend .custom-scrollbar;
}

.settings-html-preview {
  flex: 1;
  min-width: 0;
  border: 1px solid platformCommon.$splitterBorderColor;
  border-radius: 4px;
  padding: 12px;
  background: platformCommon.$backgroundColor;
  max-height: 180px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  @extend .custom-scrollbar-thin;
}

.settings-html-preview-content {
  font-size: 14px;
  color: platformCommon.$textColor;
  word-break: break-word;
}
